In [1]:
# Name: - L Prathyusha

In [4]:
import pandas as pd
import numpy as np

index = pd.date_range("1/1/2000", periods=8)

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [6]:
df

                   A         B         C
2000-01-01  1.349421 -1.303143  0.395321
2000-01-02 -0.458118 -1.700353  1.394553
2000-01-03  0.523607  0.785910 -0.581159
2000-01-04 -0.863456 -0.907760 -1.281983
2000-01-05 -1.076026 -0.929223 -0.066768
2000-01-06  0.425366 -0.163716 -0.195679
2000-01-07  0.972284 -1.449332  1.992672
2000-01-08  1.393174  0.488836  0.265919

In [7]:
df[:2]

                   A         B         C
2000-01-01  1.349421 -1.303143  0.395321
2000-01-02 -0.458118 -1.700353  1.394553

In [8]:
s.array

<PandasArray>
[-0.04214126287548113,   0.1151792849811689, -0.32841044852529316,
   -0.946659748890853,  -1.9327119830297166]
Length: 5, dtype: float64

In [9]:
 s.to_numpy()

array([-0.04214126,  0.11517928, -0.32841045, -0.94665975, -1.93271198])

In [11]:
long_series = pd.Series(np.random.randn(1000))

long_series.tail(3)

997   -0.651111
998    2.245173
999   -0.654610
dtype: float64

In [12]:
long_series.head()

0    0.439829
1   -1.529104
2    2.376491
3    0.046988
4   -0.698091
dtype: float64